<nav class="navbar navbar-expand-xl navbar-dark bg-success">
    <a class="navbar-brand" href="/"><img src="/img/cycle.svg" alt="cycle" width=75px height=75px></a>
    <h1>Cycle Aware</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white btn btn-secondary active" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white btn btn-secondary" href="/users/register">Become a member</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">
                    <i class="fas fa-user-plus"></i> Register
                </h1>
                <%- include('./partials/messages') %>
                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="firstname" id="firstname" name="firstname" class="form-control"
                            placeholder="Enter Firstname"
                            value="<%= typeof firstname != 'undefined' ? firstname : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="lastname" id="lastname" name="lastname" class="form-control"
                            placeholder="Enter Lastname"
                            value="<%= typeof lastname != 'undefined' ? lastname : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Create password with at least 8 characters"
                            value="<%= typeof password != 'undefined' ? password : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="form-control"
                            placeholder="Confirm password with at least 8 characters"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        Register
                    </button>
                </form>
                <p class="lead mt-4">Have An Account? <a class="text-primary" href="/users/login">Login</a></p>
            </div>
        </div>
    </div>
</div>